body {
	font-family: "Roboto Flex", sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	text-align: center;
	background-image: url("./img/pokemon-7283209_1280.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 900px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 45px;
	font-weight: 900;
	color: #ffde00;
	background-color: #3b4cca;
	border: 3px solid #161d54;
	border-radius: 20px;
	padding: 20px;
	width: 100%;
	max-width: 500px;
	margin-top: 80px;
	box-shadow: 3px 3px 10px #0404046d;
}

input {
	width: 100%;
	max-width: 500px;
	padding: 15px;
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	box-shadow: 3px 3px 10px #0404046d;
}
