body {
	font-family: Arial, sans-serif;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
	text-align: center;
}
h1 {
    font-family: ;
	font-size: 45px;
	color: #fcff47;
	/* text-shadow: -1px -1px 0 red, -1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red; */
	background: blue;
	border-radius: 20px;
	padding: 20px;
	width: 60vw;
	margin-left: 20%;
	box-shadow: 3px 3px 3px lightgray;
}
