body {
	font-family: Arial, sans-serif;
	background-color: #f9f9f9;
	padding: 20px;
	text-align: center;
	background-image: url("../img/pokemon-7283209_1280.jpg");
	background-size: 110%;
	background-attachment: fixed;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 45px;
	font-weight: 900;
	color: #ffde00;
	background-color: #3b4cca;
	border: 3px solid black;
	border-radius: 20px;
	padding: 18px;
	width: 100%;
	max-width: 550px;
	margin-top: 10px;
	box-shadow: 3px 3px 10px #0404046d;
}

input {
	width: 100%;
	max-width: 553px;
	padding: 15px;
	margin-top: 15px;
	border: 1px solid #ccc;
	border-radius: 10px;
	font-size: 16px;
	box-shadow: 3px 3px 10px #0404046d;
	background-color: #fff;
	color: #333;
	margin-bottom: 10px;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
	width: 100%;
	max-width: 600px;
}

.nav-items {
	display: flex;
	flex-grow: 0.1;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-weight: 600;
	cursor: pointer;
	color: #161d54;
	background-color: #ffffffc3;
	border: 2px solid #161d54;
	border-radius: 10px;
	box-shadow: 3px 3px 10px #0404046d;
}

.nav-items:hover {
	background-color: #ffde00;
	color: #3b4cca;
	border-radius: 10px;
}

.arrow {
	font-size: 30px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 5px;
}

.card {
	width: 100%;
	max-width: 550px;
	background: #ffffffc3;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 0 10px #0000001a;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 10px;
}

#pokemonDetail {
	display: inline-block;
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#pokemonDetail img {
	width: 150px;
}

#pokemonDetail h1 {
	font-size: 24px;
}

#pokemonDetail p {
	font-size: 18px;
	margin: 5px 0;
}
